@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    padding: 0; margin: 0; box-sizing: border-box; outline: none; border: none; text-decoration: none;
}

:root {
    --oxford-blue: rgb(6, 26, 64);
    --usafa-blue: rgb(3, 83, 164);
    --green-light: #00DF5E;
    --star-command-blue: #2274A5;

    --white: #F9F9F9;
    --gray: #828282;
    --gray-200: #333333;
    --gray-400: #212121;
    --dark: #171717;
}

button:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--dark);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 9.375rem;
}

/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h3 {
    margin-top: 2.1875rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1.625rem;
}

header .menu-section nav ul {
    margin-top: 2.5rem;
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

header .menu-section nav ul a {
    color: var(--white);
    font-weight: 400;
    font-size: 1.125rem;
}

/* Introdução */

.introduction {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.introduction .intro {
    margin-top: 8.9375rem;
}

.introduction .intro h3 {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--white);
    width: 300px;
}

.introduction .intro p {
    color: var(--gray);
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 1.125rem;
}

.introduction .intro .buttons {
    display: flex;
    gap: 0.9375rem;
    margin-top: 2.1875rem;
}

.introduction .intro .buttons .aboutmeButton {
    width: 8.9375rem;
    height: 2.625rem;
    background-color: var(--star-command-blue);
    color: #fff;
    font-weight: 500;
    font-size: 0.875rem;
}

.introduction .intro .buttons .contactButton {
    width: 8.9375rem;
    height: 2.625rem;
    border: 2px solid var(--gray-200);
    background: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.875rem;
}

.introduction img {
    margin-top: 7rem;
    transform: translateY(-4%);
    animation: floater 4s infinite;
    transition: ease 0.5s;
}

@keyframes floater {
    0%{transform: translateY(-4%);transition: ease 0.5s;}
    50%{transform: translateY(4%);transition: ease 0.5s;}
  }

/* Sobre mim */

.aboutme {
    margin-top: 10.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutme h3 {
    margin-top: 3rem;
    font-size: 2rem;
    color: var(--white);
    font-weight: 700;
}

.aboutme .desc-aboutme {
    color: var(--gray);
    font-weight: 400;
    font-size: 1.125rem;
    margin-top: 1.875rem;
    text-align: center;
    line-height: 2rem;
    width: 100%;
}

/* Contatos */

.contact {
    display: flex;
    gap: 7rem;
    margin-top: 5.3125rem;
    flex-wrap: wrap;
}

.contact .item-contact {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .item-contact .emoji{
    display: flex;
    width: 3.875rem;
    height: 3.875rem;
    border-radius: 50%;
    background-color: var(--gray-400);
    align-items: center;
    justify-content: center;
}

.contact .item-contact .emoji i{
    color: var(--star-command-blue);
}

.contact .item-contact p{
    color: var(--white);
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 1.5rem;
}

.contact .item-contact span,  .contact .item-contact span a{
    color: var(--gray);
    font-weight: 400;
    font-size: 1rem;
}


/* Projetos */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.9375rem;
}

.projects h2 {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
}

.portfolio {
    margin-top: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    width: 19.875rem;
    height: 15rem;
    background-color: var(--gray-400);
    border: 1px solid var(--star-command-blue);
    display: flex;
    flex-direction: column;
    padding: 20px 7px;
    position: relative;
}

.portfolio-item .preview {
    width: 18.75rem;
    height: 8.125rem;
    background-color: var(--dark);
    border: 1px solid var(--star-command-blue);
    overflow: hidden;
}

.portfolio-item .preview img {
    width: 18.75rem;
    height: auto;
}

.portfolio-item p {
    margin-top: 23px;
    color: var(--white);
    font-weight: 500;
    font-size: 1.125rem;
}

.portfolio-item span {
    margin-top: 6px;
    color: var(--gray);
    font-weight: 400;
    font-size: 0.875rem;
}

.link-portfolio {
    transition: .6s all;
}

.link-portfolio:hover {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--star-command-blue),
    0 0 0.8rem var(--star-command-blue),
    0 0 2.8rem var(--star-command-blue),
    inset 0 0 1.3rem var(--star-command-blue); 
}

/* Serviços */

.services-section {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-section h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.service {
    width: 19.875rem;
    height: 14.6875rem;
    border-bottom: 5px solid var(--star-command-blue);
    background-color: var(--dark);
    border-top: 1px solid var(--star-command-blue);
    border-left: 1px solid var(--star-command-blue);
    border-right: 1px solid var(--star-command-blue);
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 1.875rem;
}

.soon-service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
}

.service.soon {
    filter: blur(2px);
}

.service img {
    width: 3.5rem;
}

.imgm {
    margin-left: -12px;
}

.service p {
    color: var(--gray);
    font-weight: 500;
    font-size: 2rem;
    width: 7.875rem;
}


/* Skills */

.skills-section {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 5rem;
}

.skills-section h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
}

.skills {
    width: 100%;
    margin-top: 2.875rem;
    display: flex;
    gap: 3.1875rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 9.375rem;
    height: 9.375rem;
    background-color: var(--gray-400);
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.skill p {
    font-weight: 500;
    color: var(--white);
}

.cssimg {
    width: 4.45rem !important;
}

.skill img {
    width: 5rem;
}

.skill.soon {
    filter: blur(2px);
}

.soon-skill {
    display: flex;
    flex-direction: column;
    width: 9.375rem;
    height: 9.375rem;
    background-color: var(--gray-400);
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    position: relative;
}

.soon-text {
    position: absolute;
    z-index: 9999;
    color: var(--star-command-blue);
    background-color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}

/* Footer */

footer {
    width: 100%;
    background: var(--gray-400);
    color: var(--white);
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer i {
    color: red;
}

footer a {
    color: var(--star-command-blue);
}

/* Responsive */

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 6.5rem;
    }

    .aboutme .desc-aboutme {
        width: 100%;
    }

}

@media screen and (max-width: 820px) {
    .contact {
        display: flex;
        gap: 5rem;
    }

    .introduction img {
        width: 13.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 4.5rem;
    }

    .introduction img {
        width: 13rem;
    }



    .service {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service p {
        text-align: center;
        width: 100%;
    }

    .contact {
        display: flex;
        gap: 0;
        column-gap: 9.875rem;
        row-gap: 5rem;
        margin-top: 5.3125rem;
        flex-wrap: wrap;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .skills {
        width: 80%;
        margin-top: 2.875rem;
        display: flex;
        gap: 3.1875rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 700px) {
        .container {
            padding: 0 2.5rem;
        }

        .intro {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

        .introduction .intro h3 {
            text-align: center;
            width: 100%;
            font-size: 2rem;
        }

        .introduction .intro p {
            width: 80%;
            text-align: center;
            font-size: 1rem;
        }
        

        .introduction img {
            display: none;
            position: absolute;
        }

        .menu-section {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .menu-section nav {
            display: none;
        }
        
        .menu-toggle {
            width: 40px;
            height: 30px;
            position: relative;
            top: 10px;
            cursor: pointer;
        }

        .one, .two, .three {
            background-color: #fff;
            width: 100%;
            height: 5px;
            margin: 6px auto;
            position: relative;
            transition-duration: 0.3s;
        }

        .menu-section.on {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--star-command-blue);
            width: 100vw;
            height: 100vh;
        }

        .menu-section.on .menu-toggle {
            position: absolute;
            top: 34px;
            right: 38px;
        }
        
        .menu-section.on nav {
            display: block;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 50px;
            font-family: sans-serif;
        }
        
        nav ul li a {
            color: #fff;
        }
        
        .menu-section.on .menu-toggle .one {
            transform: rotate(45deg) translate(7px, 7px);
        }
        
        .menu-section.on .menu-toggle .two {
            display: none;
        }
        
        .menu-section.on .menu-toggle .three {
            transform: rotate(-45deg) translate(1px, -2px);
        }
    }

    @media screen and (max-width: 425px) {
        .container {
            padding: 0 2.5rem;
        }

        .menu-section {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .menu-section nav {
            display: none;
        }
        
        .menu-toggle {
            width: 40px;
            height: 30px;
            position: relative;
            top: 10px;
            cursor: pointer;
        }

        .one, .two, .three {
            background-color: #fff;
            width: 100%;
            height: 5px;
            margin: 6px auto;
            position: relative;
            transition-duration: 0.3s;
        }

        .menu-section.on {
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--star-command-blue);
            width: 100vw;
            height: 100vh;
        }

        .menu-section.on .menu-toggle {
            position: absolute;
            top: 34px;
            right: 38px;
        }
        
        .menu-section.on nav {
            display: block;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 50px;
            font-family: sans-serif;
        }
        
        nav ul li a {
            color: #fff;
        }
        
        .menu-section.on .menu-toggle .one {
            transform: rotate(45deg) translate(7px, 7px);
        }
        
        .menu-section.on .menu-toggle .two {
            display: none;
        }
        
        .menu-section.on .menu-toggle .three {
            transform: rotate(-45deg) translate(1px, -2px);
        }
        

        .intro {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .introduction .intro h3 {
            text-align: center;
            width: 100%;
            font-size: 2rem;
        }

        .introduction .intro p {
            width: 80%;
            text-align: center;
            font-size: 1rem;
        }
        

        .introduction img {
            display: none;
            position: absolute;
        }

        .aboutme .desc-aboutme {
            width: 100%;
            font-size: 0.875rem;
        }

        .contact {
            width: 100%;
            gap: 6rem;
        }
    }

}

@media screen and (max-width: 375px) {
    .service {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service p {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 1.2rem;
    }

    .introduction .intro h3 {
        font-size: 1.6rem;
    }

    .buttons {
        flex-direction: column;
    }

    .contact {
        gap: 4rem;
    }

    .portfolio {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-item {
        width: 100%;
       
    }

    .portfolio-item .preview {
        width: 100%;
    }

    .portfolio-item .preview img {
        width: 100%;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .service {
        width: 100%;
    }

    .soon-service {
        width: 100%;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 20px;
        top: 28px;
    }
}



