@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

:root {
    --red: #8D1B3D;
    --dark-200: #3C3939;
    --dark: #1F1E1E;
    --white-200: #F4F4F4;
    --white: #FFFFFF;

    --title-weight: 600;
    --text-weight: 500;

    --default-fontsize: 1rem;
    --title-fontsize: 2rem;
    --small-fontsize: .6rem;
}
