@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --red-light: #FF4656;
    --dark: #1F2326;
}

* {
    padding: 0; margin: 0; box-sizing: border-box; outline: none; border: none; text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    padding: 0 9.4375rem;
    position: relative;
    background: url(../images/bg.svg) no-repeat;
    background-size: cover;
}

/* Header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .logo {
    margin-top: 2.375rem;
}

header span {
    margin-top: 2.5625rem;
    color: #fff;
    font-size: 1.2rem;
}

header a img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 2.875rem;
}

/* Ilustração */

.ilustration {
    position: absolute;
    width: 33%;
    height: 93%;    
    bottom: 0;
    right: 5.625rem;
}

/* Main */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    position: relative;
    left: 0;
}

section h1 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 3.5rem;
}

section .skins {
    display: flex;
    position: relative;
    width: 60vw;
    margin-top: 2.625rem;
    gap: 2.5rem;
}

section .skins .skin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
}

section .skins .skin img {
    width: 13vw;
}

section .skins .skin span {
    color: var(--red-light);
    font-size: 1.2rem;
    margin-top: -3.125rem;
}

/* Footer */

footer {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 1.875rem;
    position: relative;
    left: 0;
    bottom: 1.54rem;

}

footer a {
    position: relative;
}

footer a i {
    color: #fff;
}

footer a i:hover {
    color: var(--red-light);
}



/* Responsivo */

@media screen and (max-width: 912px) {
    .ilustration {
        display: none;
    } 

    section {
        justify-content: center;
        position: relative;
        align-items: center;
    }

    section .skins {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 820px) {
    .ilustration {
        display: none;
    } 

    section {
        justify-content: center;
        position: relative;
        align-items: center;
    }

    section .skins {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}





@media screen and (max-width: 768px){

    
    main {  
        padding: 0 3.4375rem;
    }

    /* Ilustração */

    .ilustration {
        position: absolute;
        width: 43%;
        z-index: 0;
        height: 93%;    
        bottom: 0;
        right: -0.2rem;
    }
}

@media screen and (max-width: 540px) {
    .ilustration {
        display: none;
    } 
}


@media screen and (max-width: 425px){
    body {
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        position: relative;
    }
    
    main {
        width: 100%;
        height: 100%;
        padding: 0 1.5rem;
        position: relative;
        background: url(../images/bg.png);
        background-repeat: repeat;
        background-size: cover;
    }
    
    /* Header */
    
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    header .logo {
        margin-top: 2.375rem;
    }
    
    header span {
        display: none;
    }
    
    header a img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 2.875rem;
    }
    
    /* Ilustração */
    
    .ilustration {
        display: none;
    }
    
    /* Main */
    
    section {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: max-content;
        position: relative;
        align-items: center;
        left: 0;
    }
    
    section h1 {
        display: none;
    }
    
    section .skins {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 60vw;
        margin-top: 2.625rem;
        gap: 2.5rem;
    }
    
    section .skins .skin {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }
    
    section .skins .skin img {
        width: 47vw;
    }
    
    section .skins .skin span {
        color: var(--red-light);
        font-size: 1.2rem;
        margin-top: -3.125rem;
    }
    
    /* Footer */
    
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.875rem;
        position: relative;
        bottom: 3.5rem;
        margin-top: 8rem;
        justify-content: center;
    }
    
    footer a {
        position: relative;
    }

    footer a i {
        color: #fff;
    }

    footer a i:hover {
        color: var(--red-light);
    }

}

