.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2.5rem;
}

@media screen and (max-width: 765px) { 
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1.625rem;
    } 
}