:root {
    --header-color: #D7D4FF;
    --button-color: #6C63FF;

    --title-color: #2B2B2B;
    --subtitle-color: #555555;

    --placeholder-color: rgba(110, 114, 117, 0.74);

    --card1-color: #FF6363;
    --card2-color: #63ECFF;
    --card3-color: #F363FF;
    --card4-color: #63FF73;
    --card5-color: #FFDD63;
    --card6-color: #6663FF;

    --fontsize-titleHeader: 36px;
    --fontsize-subtitle: 18px;

    --fontfamily-m: 'Merriweather', serif;
    --fontfamily-l: 'Lato', sans-serif;
  }