.card {
    width: 24.75rem;
    height: 30.25rem;    
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: 1.5rem;

    background-position: center;
}

.card p {
    font-weight: var(--title-weight);
    font-size: 1.5rem;
    color: var(--white);    
}

.card span {
    font-weight: var(--subtitle-weight);
    font-size: .875rem;
    color: var(--white-200);
}