.btn {
  width: 11.75rem;
  height: 2.5rem;

  background: var(--blue);
  border-radius: 4px;

  font-weight: var(--button-text-weight);
  font-size: .875rem;
  text-transform: uppercase;
  color: var(--white);
}
