@import url('./var.css');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
               

@media only screen and (max-width: 982px) {

    html, body {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        background-color: #fff;
        display: none;
    }

    .aboutusimg {
        margin-right: 0px;
    }
    
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 0px;
    }

}

@media only screen and (max-width: 603px) {
    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 0px;
    }

    .login h2 {
        font-family: var(--font-m);
        font-weight: 700;
        font-size: 25px;
        color: var(--font-color);
        margin-bottom: 39px;
    }
}

@media only screen and (max-width: 464px) {
    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 0px;
    }

    .login h2 {
        font-family: var(--font-m);
        font-weight: 700;
        font-size: 25px;
        color: var(--font-color);
        margin-bottom: 39px;
    }
}

@media only screen and (max-width: 441px) {
    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 0px;
    }

    .login h2 {
        font-family: var(--font-m);
        font-weight: 700;
        font-size: 26px;
        color: var(--font-color);
        margin-bottom: 39px;
    }
}


@media only screen and (max-width: 425px) {
    html, body {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        background-color: #fff;
        display: none;
    }

    .aboutusimg {
        margin-right: 0px;
    }
    
    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-left: 0px;
    }

    .login h2 {
        font-family: var(--font-m);
        font-weight: 700;
        font-size: 26px;
        color: var(--font-color);
        margin-bottom: 39px;
    }

}


@media only screen and (max-width: 320px) {
    html, body {
        overflow-x: hidden;
        overflow-y: visible;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        background-color: #fff;
        display: none;
    }

    .aboutusimg {
        margin-right: 0px;
    }
    
    .login {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: none;
        padding: 0 10px;
        margin-left: 0px;
    }

    .login h2 {
        font-family: var(--font-m);
        font-weight: 700;
        font-size: 22px;
        color: var(--font-color);
        margin-bottom: 39px;
    }

    .login form input[type="email"], .login form input[type="password"] {
        width: 290px;
        height: 50px;
        border-radius: 5px;
        background-color: #E8E8E8;
        margin-bottom: 20px;
        padding: 0 20px;
        margin-top: 11px;
        border: 3px solid #E8E8E8;
        margin-left: 5px;
    }
    
    
    .login form input[type="email"]:focus, .login form input[type="password"]:focus {
        outline: 2px solid var(--link-color);
    }
    
    #rememberme {
        cursor: pointer;
        font-size: 10px;
    }
    
    .labelForm {
        color: var(--font-color);
        font-size: 1rem;
        font-family: var(--font-l);
        font-weight: 400;
        margin-left: 5px;
    }
    
    .inputFooter a {
        font-size: 1rem;
        font-family: var(--font-l);
        font-weight: 400;
        color: var(--link-color);
        float: right;
        margin-right: 5px;
    }

    .inputFooter input {
        margin-left: 5px;
    }
    
    .inputFooter a:hover {
        color: var(--loginbutton-color);
    }
    
    
    .loginButton {
        width: 290px;
        height: 50px;
        background-color: var(--loginbutton-color);
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: var(--font-l);
        font-weight: 700;
        border-radius: 5px;
        margin-top: 26px;
        margin-bottom: 15px;
        transition: .2s all linear;
        margin-left: 5px;
    }
    
    .loginButton:hover {
        cursor: pointer;
        background-color: var(--link-color);
    }
    
    .googleLogin button {
        width: 290px;
        height: 50px;
        background-color: var(--font-color);
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-family: var(--font-l);
        font-weight: 700;
        border-radius: 5px;
        transition: .2s all linear;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
    
    .googleLogin button:hover {
        cursor: pointer;
        background-color: var(--link-color);
    }
    
    .googleLogin img {
        margin-right: 11px;
    }
    
    .formFooter p{
        font-size: 1rem;
        font-family: var(--font-l);
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
    }
    
    .formFooter p a {
        margin-left: 5px;
        color: var(--link-color);
    }
    
    .formFooter p a:hover {
        color: var(--loginbutton-color);
    }
}