:root {

    --bg-color: #F7FAFC;
    --font-color: #1A202C;
    --link-color: #2B6CB0;
    --loginbutton-color: #04C35C;
    --placeholder-color: rgba(26, 32, 44, 60%);

    --font-m: 'Merriweather', serif;
    --font-l: 'Lato', sans-serif;
}