@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sen:wght@400;700&display=swap');

:root {
    --purple: #6610F2;
    --white: #F9F9F9;
    --white-200: #EAEAEA;
    --gray: #2F2F2F;
}

* {
    margin: 0; padding: 0; box-sizing: border-box; outline: none; border: none; text-decoration: none;
}

button:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: relative;
    
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: relative;
    padding: 0 15.375rem;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    font-family: 'Sen', sans-serif;
    margin-top: 2.9375rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gray);
}

header .header-buttons {
    display: flex;
    margin-top: 2.625rem;
    gap: 2.8125rem;
}

header .header-buttons .search {
    display: flex;
    background-color: #fff;
    border: 2px solid var(--white-200);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
}

header .header-buttons .search img {
    width: 1.5rem;
    height: 1.5rem;
}

header .header-buttons .login {
    background-color: #fff;
    border: 2px solid var(--white-200);
    border-radius: 6.25rem;
    position: relative;
    width: 11.4375rem;
}

header .header-buttons .login span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

header .header-buttons .login img {
    display: none;
    position: absolute;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10.8125rem;
}

section span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--gray);
    font-size: 1.5rem;
    text-transform: uppercase;
}

section h2 {
    font-family: 'Sen', sans-serif;
    margin-top: 2.0625rem;
    font-size: 3.375rem;
    font-weight: 700;
    text-align: center;
    width: 900px;
}

.buttonSection {
    display: flex;
    gap: 3.25rem;
    margin-top: 8.875rem;
}

.buttonSection .createMemoji {
    width: 14.1875rem;
    height: 3.375rem;
    background-color: var(--purple);
    text-align: center;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

.buttonSection .librayButton {
    width: 14.1875rem;
    height: 3.375rem;
    background-color: #fff;
    border: 2px solid var(--white-200);
    text-align: center;
    color: var(--gray);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

.memoji1 {
    background: linear-gradient(136.92deg, #2DC7ED 3.14%, rgba(45, 199, 237, 0) 100%);
    transform: rotate(45deg);
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 13.5rem;
    top: 12.3125rem;
}

.memoji1 img {
    transform: rotate(-45deg);
    width: 7.5rem;
}

.memoji2 {
    background: linear-gradient(270deg, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12.5rem;
    top: 12.3125rem;
    border-radius: 50%;
}

.memoji2 img {
    width: 7.5rem;
}

.memoji3 {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: linear-gradient(180deg, #00E861 0%, rgba(0, 232, 97, 0) 100%);
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12.5rem;
    top: 41.5rem;
}

.memoji3-img {
    width: 7.5rem;
    position: absolute;
    right: 13.6875rem;
    top: 43.5rem;
}

.memoji4 {
    background: linear-gradient(136.92deg, #EF7C89 3.14%, rgba(239, 124, 137, 0) 100%);
    border-radius: 1.875rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12.8125rem;
    top: 44.875rem;
}

.memoji4 img {
    width: 7.5rem;
}

.memoji5 {
    background: linear-gradient(270deg, #7248EC 0%, rgba(114, 72, 236, 0) 100%);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40.1875rem;
    top: 52.75rem;
}

.memoji5 img {
    width: 7.5rem;
}

footer {
    margin-top: 28.125rem;
    display: flex;
    column-gap: 2.9375rem;
    padding: 60px 70px;
}

footer .card {
    width: 100.625rem;
}

.trace {
    background-color: var(--purple);
    width: 3px;
    height: 30px;
    display: flex;
    float: left;
}

footer .card h4 {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--gray);
    margin-left: 12px;
    margin-bottom: 1.6875rem;
}

footer .card p {
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: var(--gray);
    font-size: 0.95rem;
}

/* Responsividade */

@media screen and (max-width: 1074px) {
    main {
        padding: 0 7.3rem;
    }

    .memoji1 {
        width: 10rem;
        height: 10rem;
        left: 5.5rem;
        top: 12.3125rem;
    }
    
    .memoji2 {
        width: 10rem;
        height: 10rem;
        right: 5.5rem;
        top: 12.3125rem;
    }
    
    .memoji3 {
        width: 10rem;
        height: 10rem;
        right: 5.5rem;
        top: 41.5rem;
    }

    .memoji3-img {
        right: 6.4rem;
        top: 43.5rem;
    }

    .memoji4 {
        width: 10rem;
        height: 10rem;
        left: 5.8125rem;
        top: 44.875rem;
    }
    
    .memoji5 {
        width: 10rem;
        height: 10rem;
        left: 30.1875rem;
        top: 52.75rem;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 5.3rem;
    }

    section h2 {
        font-size: 3rem;
        width: 700px;
    }

    .memoji1 {
        width: 8rem;
        height: 8rem;
        left: 5.5rem;
        top: 9rem;
    }
    
    .memoji2 {
        width: 8rem;
        height: 8rem;
        right: 5.5rem;
        top: 8.7rem;
    }
    
    .memoji3 {
        width: 8rem;
        height: 8rem;
        right: 5.5rem;
        top: 47rem;
    }

    .memoji3-img {
        right: 5.8rem;
        top: 48.5rem;
    }

    .memoji4 {
        display: none;
    }
    
    .memoji5 {
        width: 8rem;
        height: 8rem;
        left: 3.6rem;
        top: 47rem;
    }

}

@media screen and (max-width: 425px) {
    main {
        padding: 0 1.5rem;
    }

    header p {
        margin-top: 2.7rem;
    }
    

    header .header-buttons {
        gap: 1.5rem;
    }

    header .header-buttons .login span {
        display: none;
    }
    
    header .header-buttons .login img {
        display: initial;
        position: relative;
    }
    
    header .header-buttons .search {
        width: 2rem;
        height: 2rem;
    }
    
    header .header-buttons .search img {
        width: 1rem;
        height: 1rem;
    }
    
    header .header-buttons .login {
        width: 2rem;
        height: 2rem;
    }
    
    section span {
        font-size: 0.9rem;
    }

    section h2 {
        font-size: 2.5rem;
        width: 400px;
        margin-top: 3rem;
    }

    .buttonSection {
        gap: 1.2rem;
        margin-top: 2.5rem;
    }
    
    .buttonSection .createMemoji {
        width: 11rem;
        height: 3.375rem;
        font-size: 1rem;
    }
    
    .buttonSection .librayButton {
        width: 11rem;
        height: 3.375rem;
        font-size: 1rem;
    }
    

    .memoji1 {
        width: 6.5rem;
        height: 6.5rem;
        left: 2.7rem;
        top: 11rem;
        border-radius: 8px;
    }

    .memoji1 img, .memoji2 img, .memoji3-img, .memoji5 img{
        width: 5.5rem;
    }
    
    .memoji2 {
        width: 6.5rem;
        height: 6.5rem;
        right: 3.5rem;
        top: 6.7rem;
    }

    
    .memoji3 {
        width: 8rem;
        height: 8rem;
        right: 2.5rem;
        top: 47rem;
    }

    .memoji3-img {
        right: 3.8rem;
        top: 48.5rem;
    }

    .memoji4 {
        display: none;
    }
    
    .memoji5 {
        width: 8rem;
        height: 8rem;
        left: 1.5rem;
        top: 51rem;
    }

    section {
        margin-top: 17.5rem;
    }

    footer {
        flex-direction: column;
        padding: 60px 0px;
        gap: 20px;
    }

    footer .card {
        width: 20.375rem;
    }

}

@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden;
    }

    .buttonSection {
        gap: 2rem;
        margin-top: 2.5rem;
    }
    
    .buttonSection .createMemoji {
        width: 9rem;
        height: 3.375rem;
        font-size: 1rem;
    }
    
    .buttonSection .librayButton {
        width: 9rem;
        height: 3.375rem;
        font-size: 1rem;
    }

    footer {
        padding: 60px 0px;
    }

    footer .card {
        width: 15.375rem;

    }
}

@media screen and (max-width: 320px) {
    body {
        overflow-x: hidden;
    }

    .buttonSection {
        gap: 0.5rem;
        margin-top: 2.5rem;
    }

    .buttonSection .createMemoji {
        width: 9rem;
        height: 3.375rem;
        font-size: 0.9rem;
    }
    
    .buttonSection .librayButton {
        width: 9rem;
        height: 3.375rem;
        font-size: 0.9rem;
    }
}
