@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --white: #F9F9F9;
    --green: #658E76;
}

* {
    margin: 0; padding: 0; text-decoration: none; outline: none; border: none; box-sizing: border-box;
}

html, body {
    width: 100vw;
	height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #628E75 0.66%, #1A4855 83.32%);
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Header */

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header {
    min-width: 85%;
    justify-content: space-between;
    display: flex;
    position: relative;
    padding-top: 2rem;
}

.header a img {
    position: relative;
    bottom: 1rem;
}

.socialmedias a {
    height: 1.3rem;
}

.socialmedias {
    display: flex;
    gap: 2rem;
}

.socialmedias a i {
    color: var(--white);
}

.socialmedias a i:hover{
    color: var(--green);
}

/* Container */

.container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 3.75rem;
    min-height: 80vh;
}

.subcontainer {
    display: flex;
    max-width: 85%;
    height: auto;
    justify-content: space-between;
}

/* Conteúdo */

.subcontainer article h4 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    width: 20rem;
    margin-bottom: 0.875rem;
}

.subcontainer article h1 {
    color: var(--white);
    font-size: 4.25rem;
    font-weight: 900;
    line-height: 4.625rem;
    margin-bottom: 1.5625rem;
    width: 25rem;
    height: auto;
}

.desc {
    margin-bottom: 2.875rem;
    height: auto;
    width: 25rem;
}

.desc p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

/* Botões */

.buttons {
    display: flex;
    gap: 1.8125rem;
    margin-left: 0.625rem;
}

.b1 {
    background-color: var(--green);
    width: 14.0625rem;
    height: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    transform: skew(-27deg);
}

.b1 span {
    margin-left: 0.875rem;
}

.b2 {
    background-color: none;
    border: 3px solid var(--green);
    width: 14.0625rem;
    height: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    transform: skew(-27deg);
}

.b1:hover, .b2:hover {
    cursor: pointer;
    outline: 2px solid var(--white);
}

.b1 i, .b1 span, .b2 i, .b2 span{
    transform: skew(27deg);
}

/* Imagem */

.subcontainer img {
    position: relative;
    left: 4.375rem;
    bottom: 4rem;
    width: 34.375rem;
    height: auto;
    transform: translateY(-4%);
    animation: floater 4s infinite;
    transition: ease 0.5s;
}

/* Imagem Animação */

@keyframes floater {
    0%{transform: translateY(-4%);transition: ease 0.5s;}
    50%{transform: translateY(4%);transition: ease 0.5s;}
  }


/* Responsividade */

@media screen and (max-width: 1024px) {
        /* Imagem */
    
        .subcontainer img {
            position: relative;
            left: -2rem;
            bottom: 0rem;
            width: 30.375rem;
            height: auto;
            transform: translateY(-4%);
            animation: floater 4s infinite;
            transition: ease 0.5s;
        }
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-y: visible;
        overflow-x: hidden;
    }

    /* Container */
    
    .container {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 3.75rem;
    }
    
    .subcontainer {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* Conteúdo */

    .subcontainer article {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .subcontainer article h4 {
        color: var(--white);
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        width: 20rem;
        margin-bottom: 0.875rem;
    }
    
    .subcontainer article h1 {
        color: var(--white);
        text-align: center;
        font-size: 4.25rem;
        font-weight: 900;
        line-height: 4.625rem;
        margin-bottom: 1.5625rem;
        width: 25rem;
        height: auto;
    }
    
    .desc {
        margin-bottom: 2.875rem;
        height: auto;
        width: 25rem;
        text-align: center;
    }
    
    .desc p {
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8rem;
    }
    
    /* Botões */
    
    .buttons {
        display: flex;
        gap: 1.8125rem;
        margin-left: 0.625rem;
        margin-bottom: 50px
    }
    
    .b1 {
        background-color: var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1 span {
        margin-left: 0.875rem;
    }
    
    .b2 {
        background-color: none;
        border: 3px solid var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1:hover, .b2:hover {
        cursor: pointer;
        outline: 2px solid var(--white);
    }
    
    .b1 i, .b1 span, .b2 i, .b2 span{
        transform: skew(27deg);
    }
    
    /* Imagem */
    
    .subcontainer img {
        position: relative;
        left: 0;
        bottom: 0rem;
        width: 34.375rem;
        height: auto;
        transform: translateY(-4%);
        animation: floater 4s infinite;
        transition: ease 0.5s;
        order: -1;
    }
}

@media screen and (max-width: 425px) {
    html, body {
        overflow-y: visible;
        overflow-x: hidden;
    }

    /* Container */
    
    .container {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 3.75rem;
    }
    
    .subcontainer {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* Conteúdo */

    .subcontainer article {
        display: flex;
        align-items: center;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .subcontainer article h4 {
        color: var(--white);
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        width: 20rem;
        margin-bottom: 0.875rem;
    }
    
    .subcontainer article h1 {
        color: var(--white);
        text-align: center;
        font-size: 3.25rem;
        font-weight: 900;
        line-height: 3.625rem;
        margin-bottom: 1.5625rem;
        width: 25rem;
        height: auto;
    }
    
    .desc {
        margin-bottom: 2.875rem;
        height: auto;
        width: 20rem;
        text-align: center;
    }
    
    .desc p {
        color: var(--white);
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.8rem;
    }
    
    /* Botões */
    
    .buttons {
        display: flex;
        gap: 1.4375rem;
        margin-left: 0.625rem;
        margin-bottom: 50px;
        flex-direction: column;
    }
    
    .b1 {
        background-color: var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1 span {
        margin-left: 0.875rem;
    }
    
    .b2 {
        background-color: none;
        border: 3px solid var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1:hover, .b2:hover {
        cursor: pointer;
        outline: 2px solid var(--white);
    }
    
    .b1 i, .b1 span, .b2 i, .b2 span{
        transform: skew(27deg);
    }
    
    /* Imagem */
    
    .subcontainer img {
        position: relative;
        left: 0;
        bottom: 0rem;
        width: 25.375rem;
        height: auto;
        transform: translateY(-4%);
        animation: floater 4s infinite;
        transition: ease 0.5s;
        order: -1;
    }
}

@media screen and (max-width: 320px) {


    
    .subcontainer article h1 {
        color: var(--white);
        text-align: center;
        font-size: 2.50rem;
        font-weight: 900;
        line-height: 2.625rem;
        margin-bottom: 1.5625rem;
        width: 15rem;
        height: auto;
    }
    
    .desc {
        margin-bottom: 2.875rem;
        height: auto;
        width: 20rem;
        text-align: center;
    }
    
    .desc p {
        color: var(--white);
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.8rem;
    }
    
    /* Botões */
    
    .buttons {
        display: flex;
        gap: 1.4375rem;
        margin-left: 0.625rem;
        margin-bottom: 50px;
        flex-direction: column;
    }
    
    .b1 {
        background-color: var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1 span {
        margin-left: 0.875rem;
    }
    
    .b2 {
        background-color: none;
        border: 3px solid var(--green);
        width: 14.0625rem;
        height: 2.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        transform: skew(-27deg);
    }
    
    .b1:hover, .b2:hover {
        cursor: pointer;
        outline: 2px solid var(--white);
    }
    
    .b1 i, .b1 span, .b2 i, .b2 span{
        transform: skew(27deg);
    }
    
    /* Imagem */
    
    .subcontainer img {
        position: relative;
        left: 0;
        bottom: 0rem;
        width: 20.375rem;
        height: auto;
        transform: translateY(-4%);
        animation: floater 4s infinite;
        transition: ease 0.5s;
        order: -1;
    }

    .socialmedias {
        display: flex;
        gap: 1rem;
    }

    .socialmedias a i {
        color: var(--white);
        font-size: 0.8rem;
    }
}



