@import url(./var.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box; outline: none; text-decoration: none; border: none;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 0.6;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-color);
  }


html, body {
    overflow-y: hidden;
}

.container {
    display: flex;
}

.img {
    background-color: var(--bg-color);
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #fff;
    width: 50%;
    height: 100vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login p {
    font-family: var(--font-m);
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color);
    margin-bottom: 5px;
}

.login h2 {
    font-family: var(--font-m);
    font-weight: 700;
    font-size: 26px;
    color: var(--font-color);
    margin-bottom: 39px;
}

.login form input[type="email"], .login form input[type="password"] {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: #E8E8E8;
    margin-bottom: 20px;
    padding: 0 20px;
    margin-top: 11px;
    border: 3px solid #E8E8E8;
}


.login form input[type="email"]:focus, .login form input[type="password"]:focus {
    outline: 2px solid var(--link-color);
}

#rememberme {
    cursor: pointer;
}

.login form label {
    color: var(--font-color);
    font-size: 1rem;
    font-family: var(--font-l);
    font-weight: 400;
}

.inputFooter a {
    font-size: 1rem;
    font-family: var(--font-l);
    font-weight: 400;
    color: var(--link-color);
    float: right;
}

.inputFooter a:hover {
    color: var(--loginbutton-color);
}


.loginButton {
    width: 350px;
    height: 50px;
    background-color: var(--loginbutton-color);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-family: var(--font-l);
    font-weight: 700;
    border-radius: 5px;
    margin-top: 26px;
    margin-bottom: 15px;
    transition: .2s all linear;
}

.loginButton:hover {
    cursor: pointer;
    background-color: var(--link-color);
}

.googleLogin button {
    width: 350px;
    height: 50px;
    background-color: var(--font-color);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-family: var(--font-l);
    font-weight: 700;
    border-radius: 5px;
    transition: .2s all linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleLogin button:hover {
    cursor: pointer;
    background-color: var(--link-color);
}

.googleLogin img {
    margin-right: 11px;
}

.formFooter p{
    font-size: 1rem;
    font-family: var(--font-l);
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.formFooter p a {
    margin-left: 5px;
    color: var(--link-color);
}

.formFooter p a:hover {
    color: var(--loginbutton-color);
}




