:root {
    --green: #33E29A;
    --gray: #414141;
    --dark: #121212;
    --dark-200: #262626;
    --white: #FFFFFF;
    --white-200: #BAACAC;

    --title-weight: 600;
    --subtitle-weight: 500;
    --text-weight: 400;

    --fi: 'Inter', sans-serif;
    --fk: 'Kufam', sans-serif;
}