html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {

  .row {
    height: 220px;
  }

  .row img {
    width: 200px;
    height: 140px;
    margin: 50px 0;
    transition: all 1s;
    position: absolute;
  }
  
  .row img:hover {
    width: 280px;
    height: 180px;
  }
}



@media only screen and (max-width: 480px) {
  .parallax {
      width: 100%;
      filter: brightness(50%);
      height: 377px;
  }

  .header {
    width: 100wv;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h3 {
    font-size: 22px;
    margin-left: 0;
  }

  .header p {
    font-size: 0.8em;
    color: #fff;
    margin-left: 0;
    width: 250px;
    line-height: 20px;
    text-align: center;
  }

  .emphasis {
    padding: 0 50px;
  }

  .row1 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 49px;
    justify-content: center;
    align-items: center;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .row {
    width: 400px;
    height: 300px;
    background-color: #EBE9EA;
    margin-bottom: 20px;
    margin-right: 0;
  }

  footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 110px;
  }

  footer p {
    margin-bottom: 10px;
  }

  .row img {
    width: 350px;
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {

  .row{
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row1, .row2 {
    padding: 0 50px;
  }

  .row img {
    width: 230px;
    height: 150px;
    margin: 0;
    align-items: center;
  }
}

@media only screen and (max-width: 280px) {
  .parallax {
      width: 100%;
      filter: brightness(50%);
      height: 377px;
  }

  .header {
    width: 100%;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h3 {
    font-size: 1.3rem;
    margin-left: 0;
  }

  .header p {
    font-size: 0.6rem;
    color: #fff;
    margin-left: 0;
    width: 200px;
    line-height: 25px;
    text-align: center;
  }

  .emphasis {
    padding: 0 10px;
  }

  .row1 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 49px;
    justify-content: center;
    align-items: center;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .row {
    width: 230px;
    height: 170px;
    background-color: #EBE9EA;
    margin-bottom: 20px;
    margin-right: 0;
  }

  footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    height: 110px;
  }

  footer p {
    font-size: .8rem;
  }

  .row img {
    width: 200px;
    height: 130px;
  }
}