.section__groups {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groups__title {
    font-size: var(--title-fontsize);
    font-weight: var(--title-weight);
    color: var(--dark-200);
    margin-bottom: 45px;
}

.groups__cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
}

.group__card {
    width: 284px;
    height: auto;
    padding: 32px;

    background: var(--white-200);
    box-shadow: 3px 3px 3px rgba(60, 57, 57, 0.2);
    border-radius: 6px;    
}

.group__card .card__title {
    font-weight: var(--title-weight);
    font-size: var(--default-fontsize);
    color: var(--dark);
    text-align: center;
    margin-bottom: 45px;
}

.group__card .card__countrys {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__countrys .country {
    display: flex;
    align-items: center;
    gap: 15px;
}

.country__title {
    font-weight: var(--text-weight);
    font-size: var(--default-fontsize);
    color: var(--dark-200);
}

.groups__arrows {
    display: flex;
    gap: 1rem;
    margin-top: 48px;
}

.arrow {
    background: var(--white-200);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__matchs {
    margin-top: 100px;
    display: flex;
    flex-direction: column;  
}

.matchs__title {
    text-align: center;
    font-size: var(--title-fontsize);
    font-weight: var(--title-weight);
    color: var(--dark-200);
    margin-bottom: 45px;    
}

.nexts__matchs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.match__flag {
    height: 80px;
    width: 107px;
}

.match {
    width: 100%;
    display: flex;
    height: 100px;
    padding: 10px;
    
    background: var(--white-200);
    box-shadow: 3px 3px 3px rgba(60, 57, 57, 0.2);
    border-radius: 6px;

    align-items: center;
    justify-content: space-between;
}

.match__country-name {
    font-weight: var(--text-weight);
    font-size: 20px;
    color: var(--dark);    
}

.match__country {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 100px;
    flex: 1;

    &.right {
        justify-content: flex-end;
    }
}


.match__date {
    font-weight: var(--title-weight);
    font-size: 18px;
    text-align: center;
    color: var(--red);
    flex: 1;
}

.allmatchs-button {
    margin-top: 30px;
    margin: 30px auto 0 auto;
    width: 250px;
    height: 50px;
    background: #FFF2F6;
    border-radius: 6px;    

    font-weight: var(--title-weight);
    font-size: var(--default-fontsize);
    color: var(--red);    
}