* {
	margin: 0; padding: 0; box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

input, button {
	outline: none;
	border: none;
}

button:hover {
	cursor: pointer;
}

html, body {
	scroll-behavior: smooth;
}